body{
	background-color: #e0e0e0;
}
.form{
	width: 75%;
	margin: auto;
	
}
.tbl{
	width: 100%;
	padding: 20px;
	
	font-size: 20px;
}
table td{
	padding: 5px;
	text-align: center;
	/* border: 1px solid black; */
}
input, #stream{
	border:2px solid black;
	width: 95%;
	padding: 10px;
}
.btn{
	width: 30%;
	padding: 10px;
	border: none;
	background-color: #424242;
	color: white;
	align-items: center;
}
h2{
	font-size: 30px;
	text-align: center;
	margin-bottom: 0px;
}
p{
	 
	font-size: 20px;
	color: red;
}
#gender, #hobby{
	width: 10%;
}
textarea{
	width: 100%;
	height: 70px;
	border:2px solid black;
}